.chart {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: 0.3s;
    margin: 0 auto;
}

span.center {
    background: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    transform: translate(-50%, -50%);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.donut-inner {
    margin-top: -100px;
    margin-bottom: 100px;
 }
 .donut-inner h5 {
    margin-bottom: 5px;
    margin-top: 0;
 }
 .donut-inner span {
    font-size: 12px;
 }